/*MEDIA RESPONSIVE*/
@media (max-width: 768px){
    #bodyIndex {
        display: grid;
        grid-template-columns: 1fr;  
        justify-items: center;     
        padding: 0px;
        width: 100%;
        margin: 0;
    }
    .headerIndex {
        height: auto; 
        padding-top: 0px;
        z-index: 10;
    }
    #carouselExampleIndicators {
        height: auto;
        width: 100%;
    }
    #carouselExampleIndicators .carousel-item img {
        width: 100%;       
        height: auto;      
        object-fit: cover; 
    }
    #navBar {
        flex-direction: column;
        align-items: center;
        z-index: 1000;
        position: relative;
    }
    .contenedorProductos {
        grid-template-columns: 1fr; 
        margin-left: 0; 
    }
    #header {
        height: auto; 
        padding-top: 0px;
        z-index: 10;
    form {
        padding-right: 60px;
    }
    input {
        width: auto;
        margin-right: 0;
    }
    button {
        width: 30px;
    }
    }
}