/*MEDIA RESPONSIVE*/
@media (max-width: 768px){
    #bodyQuienessomos {
    display: grid;
    grid-template-columns: 1fr; 
    width: 100%;
    }
    #sectionQuienessomos{
        padding: 0;
        width: 100%;
        height: auto;
        p{
            justify-self: center;
            padding: 0px;
            width: 90%;
            height: auto;
        }
    }
}
@media (max-width: 576px) {
    #bodyQuienessomos {
        display: grid;
        grid-template-columns: 1fr; 
        width: 100%;
        padding: 0px;
        margin: 0;
        
    }
    #sectionQuienessomos{
        padding: 0;
        width: 100%;
        height: auto;
        
        p{
            justify-self: center;
            padding: 0px;
            width: 300px;
            height: auto;
        }
    }
    #header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "img FormBusqueda"
                            "navbar navbar";

        .navbar {
            grid-area: navbar;
            width: 100%; 
            justify-self: center; 
        }
    }
}