@media (max-width: 768px){
    #bodyContactanos{
        display: flex;
        
        #tituloContacto{
            align-self: center;
            padding: 0;
        }
        #formularioContacto{
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 100%;
            padding: 0;
        }
        #header {
            height: 140px; 
            position: relative;
            justify-content: space-between;
        }
    }
}
@media (max-width: 576px) {
    #bodyContactanos{
        display: grid;
        grid-template-columns: 1fr;      
        width: 100%;
    }
    #header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "img FormBusqueda"
                            "navbar navbar";

        .navbar {
            grid-area: navbar;
            width: 100%; 
            justify-self: center; 
        }
    }
}